<!--<div class="panel panel-info">-->
<!--<div class="panel-heading"> MENU DES ACTIVES.</div>-->
<!--<div class="panel-body">-->
<!--<ul class="nav nav-pills nav-stacked">-->
<!--<li role="presentation" ><a [routerLink]="['/accueil']" class=" btn btn-primary">ACCUEIL</a></li>-->
<!--<li role="presentation" ><a [routerLink]="['/invite']" class=" btn btn-info">INVITES</a></li>-->
<!--<li role="presentation"><a [routerLink]="['/etudiant']" class=" btn btn-success">ETUDIANTS</a></li>-->
<!--<li role="presentation"><a [routerLink]="['/enseignant']" class=" btn btn-warning">ENSEIGNANT</a></li>-->
<!--<li role="presentation"><a [routerLink]="['/employe']" class=" btn btn-danger">EMPLOYES</a></li>-->
<!--<li role="presentation" class=" btn btn-default"><a href="#">FORMATION</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<div class="card menbox" >
  <div class="card-subtitle">
    <h3> <span class="badge badge-secondary box">MENU ACTIVITES</span></h3>
  </div>
  <div  class="card-body box">
    <p-panelMenu [model]="items" [style]="{'width':'180px'}" class="box"></p-panelMenu>
  </div>
</div>

