
<div class="container-fluid">
<div class="row">
  <div class="col">
  <app-navbar></app-navbar>
  </div>

</div>
  <br/>
  <br/>
  <br/>

<div class="row">
  <div class="col-md-2">
    <app-menugauche></app-menugauche>
  </div>
  <div class="col-md-10 ">
    <router-outlet></router-outlet>
  </div>
</div>

</div>
