<div class="container ">
  <div class="row">
    <div class=" col-md-9 jumbotron text-center acc-box">
      <div  class="box">
        <h3 style="color: red">
          {{title}}<i class="fa fa-flag-checkered" style="color: black"></i>
        </h3>
      </div>
      <div class="row  box">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <hr/>
      <div align="center" class="box">
        <button pButton type="button"  icon="fa-check" label="Invités" (click)="onInvite()"></button>
        <button pButton type="text"  icon="fa-check" label="Etudiant" class="ui-button-info" (click)="onEtudiant()" ></button>
        <button pButton type="button"  icon="fa-check" label="Enseignant" class="ui-button-danger" (click)="onEnsignant()"></button>
        <button pButton type="b"  icon="fa-check" label="employes" class="ui-button-success" (click)="onEmploye()"></button>
        <button pButton type="button"  icon="fa-check" label="Formations" class="ui-button-warning" ></button>
        <!--<button pButton titre="button" icon="fa-check" iconPos="right" label="Voir"></button>-->

      </div>
    </div>
  </div>
  <!-- <div class="row">
     <div class=" col-md-9 jumbotron text-center">
       <p-growl [value]="msgs"></p-growl>

       <p-gmap #gmap [style]="{'width':'100%','height':'420px'}" [options]="options" [overlays]="overlays"
               (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>
       <button type="button" pButton label="Clear" icon="fa-close" (click)="clear()" style="margin-top:10px"></button>
       <button type="button" pButton label="Reset" icon="fa-map-marker" (click)="initOverlays()" style="margin-top:10px"></button>
       <button type="button" pButton label="Zoom In" icon="fa-search-plus" (click)="zoomIn(gmap.getMap())" style="margin-top:10px"></button>
       <button type="button" pButton label="Zoom Out" icon="fa-search-minus" (click)="zoomOut(gmap.getMap())" style="margin-top:10px"></button>

     </div>

     <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="New Location">
       <div class="ui-grid ui-grid-pad ui-fluid" *ngIf="selectedPosition">
         <div class="ui-grid-row">
           <div class="ui-grid-col-2"><label for="title">Label</label></div>
           <div class="ui-grid-col-10"><input type="text" pInputText id="title" [(ngModel)]="markerTitle"></div>
         </div>
         <div class="ui-grid-row">
           <div class="ui-grid-col-2"><label for="lat">Lat</label></div>
           <div class="ui-grid-col-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>
         </div>
         <div class="ui-grid-row">
           <div class="ui-grid-col-2"><label for="lng">Lng</label></div>
           <div class="ui-grid-col-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
         </div>
         <div class="ui-grid-row">
           <div class="ui-grid-col-2"><label for="drg">Drag</label></div>
           <div class="ui-grid-col-10"><p-checkbox id="drg" [(ngModel)]="draggable" binary="true"></p-checkbox></div>
         </div>
       </div>
       <p-footer>
         <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
           <button type="button" pButton label="Add Marker" icon="fa-plus" (click)="addMarker()"></button>
         </div>
       </p-footer>
     </p-dialog>
   </div>-->
</div>
