
<div *ngIf="matiere">
 <!-- <div class="alert alert-warning">Matière selectionne: {{selectedMat2 | json}}</div>-->


<div >
  <div class="col-md-8" *ngIf="matiere">
    <form (ngSubmit)="onSubmit()" #matForm="ngForm" >
      <div class="panel panel-primary">
        <div class="panel-heading">Modifier matiere</div>
        <div class="panel-body">
          <div class="">
            <div class="form-group">
              <label for="lib">Libelle</label>
              <input id="lib" type="text" required class="form-control"
                     [(ngModel)]="matiere.libelle"  name="lib" #lib="ngModel">
              <div [hidden]="lib.valid || lib.pristine"> Le libellé esr obligatoire.</div>
            </div>
            <div class="form-group">
              <label for="des">Description</label>
              <textarea id="des" rows="3" class="form-control" required minlength="5" maxlength="50"
                        [(ngModel)]="matiere.description"  name="des" #des="ngModel"
              ></textarea>
              <div [hidden]="des.valid || des.pristine">
                La description doit faire au moins 5 caractères.
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!matForm.form.valid">
            <span class="glyphicon glyphicon-saved"> Submit</span></button>
          <button type="button" class="btn btn-warning pull-right" (click)="annuler(matiere)">
            <span class="glyphicon glyphicon-resize-full"> Annuler</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

</div>

